.blue-background {
  border: 1px #3a7be0 solid;
  border-radius: 5px;
  padding: 8px;
  background: rgba(58, 123, 224, 0.2);
  width: fit-content;
}

.yellow-background {
  border: 1px #ebbd34 solid;
  border-radius: 5px;
  padding: 8px;
  background: rgba(235, 189, 52, 0.2);
  width: fit-content;
}
