<ion-header>
    <ion-toolbar color = "primary">
        <ion-item button color = "primary" lines = "none">
            <ion-icon (click) = "goBack()" name = "arrow-back" slot = "start">
            </ion-icon>
            <ion-avatar *ngIf = "user2" slot = "start">
                <ion-img [src] = "user2.proPicUrl"></ion-img>
            </ion-avatar>
            <ion-label (click) = "scrollToBottom()"
                       *ngIf = "user2">{{user2.userName}}</ion-label>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents] = "true" slot = "fixed">
    <div *ngIf = "messages.length === 0">
        <ion-card>
            <ion-card-content>No messages yet!</ion-card-content>
        </ion-card>
    </div>
    <div *ngIf = "messages.length > 0 && user && user2">
        <ion-list lines = "none">
            <ion-item *ngFor = "let message of messages" slot = "start"
                      style = "width: 100%;">
                <ion-avatar
                        [slot] = "message.from === user.userId ? 'end': 'start'">
                    <ion-img *ngIf = "user && user2" [src] = "message.from ===
                    user.userId ?
                    user.proPicUrl: user2.proPicUrl">
                    </ion-img>
                </ion-avatar>
                <ion-label [ngClass] = "message.from === user.userId ?
                    'yellow-background' : 'blue-background'">
                    <h5>
                        <b>
                            {{message.from === user.userId ? user.userName :
                            user2.userName}}
                        </b>
                    </h5>
                    <p>
                        {{message.content}}

                    </p>
                    <div style = "width: 100%; text-align: right">
                        <ion-icon *ngIf = "message.status === 'Sent' &&
                              message.from === user.userId"
                                  name = "checkmark-outline">
                        </ion-icon>
                        <ion-icon *ngIf = "message.status === 'Received' ||
                                  message.status === 'Read' &&
                              message.from === user.userId"
                                  [color] = "message.status === 'Read' &&
                                  !user2.ghostMode && user2 ?
                                  'primary' : ''"
                                  name = "checkmark-done-outline">
                        </ion-icon>
                    </div>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <ion-fab horizontal = "end" slot = "fixed"
             vertical = "bottom">
        <ion-fab-button *ngIf = "content.ionScroll &&
        !(content.ionScrollEnd)" color = "warning" style = "width: 30px;
        height: 30px; opacity: 70%;">
            <ion-icon (click) = "content.scrollToBottom(500)"
                      name = "chevron-down"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<ion-footer>
    <form #f = "ngForm" (ngSubmit) = "sentText()">
        <ion-item>
            <ion-input (keydown.enter) = "sentText()" [(ngModel)] = "text"
                       color = "primary" name = "text"
                       placeholder = "Enter a text">
            </ion-input>
            <ion-icon (click) = "sentText()" color = "primary"
                      name = "paper-plane"
                      slot = "end"></ion-icon>
        </ion-item>
    </form>
</ion-footer>
