@mixin text-container() {
  border-radius: 5px;
  padding: 8px;
  width: fit-content;
}

.blue-background {
  @include text-container();
  border: 1px var(--ion-color-primary-contrast) solid;
  background: rgba(var(--ion-color-primary-rgb), 0.9);
  color: var(--ion-color-primary-contrast);
}

.yellow-background {
  @include text-container();
  border: 1px var(--ion-color-primary) solid;
  background: rgba(var(--ion-color-primary-contrast-rgb), 0.9);
  color: var(--ion-color-primary);
}

