<ion-header>
    <ion-toolbar color = "primary">
        <ion-title style = "color: white">Sign Up</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class = "ion-text-center" fullscreen = "true" padding>
    <ion-slides [options] = "slideOpts" pager = "true">
        <ion-slide>
            <div style = "width: 100%; margin-top: 20%">
                <ion-avatar (click) = "presentModal()" style = "margin: auto; width: 100px; height:
                    100px">
                    <ion-img [src] = "proPicUrl">
                    </ion-img>
                </ion-avatar>
                <ion-button (click) = "presentModal()">Pick an Avatar!
                </ion-button>
            </div>

            <ion-item>
                <ion-label position = "floating">User Name</ion-label>
                <ion-input [(ngModel)] = "userName" clearInput =
                        "true" name = "userName"
                           placeholder = "User Name"
                           required
                           type = "text">
                </ion-input>
                <ion-icon name = "person" slot = "end"></ion-icon>
            </ion-item>
            <ion-fab horizontal = "start" vertical = "bottom">
                <ion-fab-button (click) = "backToLogin()" color = "danger">
                    <ion-icon name = "arrow-back"></ion-icon>
                </ion-fab-button>
            </ion-fab>
            <ion-fab horizontal = "end" vertical = "bottom">
                <ion-fab-button (click) = "goToPage(1)" color = "primary">
                    <ion-icon name = "arrow-forward"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-slide>

        <ion-slide>
            <ion-item>
                <ion-label position = "floating">Email</ion-label>
                <ion-input [(ngModel)] = "userEmail" clearInput = "true"
                           email name = "userEmail"
                           placeholder = "Email"
                           required
                           type = "email"></ion-input>
                <ion-icon name = "mail" slot = "end"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label position = "floating">Password</ion-label>
                <ion-input [(ngModel)] = "userPassword"
                           clearInput = "true"
                           minlength = "6"
                           name = "password" placeholder = "Password"
                           required type = "password"></ion-input>
                <ion-icon name = "eye-off" slot = "end"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label position = "floating">#Phone Number
                </ion-label>
                <ion-input [(ngModel)] = "phone" name = "phone"
                           pattern = "[0-9]{3}[0-9]{3}[0-9]{4}"
                           placeholder = "1234567890" required
                           type = "tel">
                </ion-input>
                <ion-icon name = "call" slot = "end"></ion-icon>
            </ion-item>
            <ion-fab horizontal = "start" vertical = "bottom">
                <ion-fab-button (click) = "goToPage(0)" [disabled] = "(us.loadingSubject |
            async)"
                                color = "warning">
                    <ion-icon name = "arrow-back"></ion-icon>
                </ion-fab-button>
            </ion-fab>
            <ion-fab *ngIf = "userPassword && userEmail && userName"
                     horizontal = "end"
                     vertical = "bottom">
                <ion-fab-button (click) = "signUp()" [disabled] = "(us.loadingSubject |
            async)"
                                color = "success">
                    <ion-icon name = "arrow-forward"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-slide>
    </ion-slides>
    <ion-fab *ngIf = "us.loadingSubject |
     async" horizontal = "center" style = "width: 100px; height: 50px;"
             vertical = "center">
        <ion-spinner color = "primary" name = "dots"></ion-spinner>
    </ion-fab>
</ion-content>
