<ion-header>
    <ion-toolbar color = "primary">
        <ion-title style = "color: white">Sign Up</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class = "ion-text-center" fullscreen = "true">
    <ion-item>
        <ion-label position = "floating">User Name</ion-label>
        <ion-input #name [(ngModel)] = "userName" placeholder = "User Name"
                   clearInput = "true" required type = "text">
        </ion-input>
        <ion-icon name = "person" slot = "end"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label position = "floating">Email</ion-label>
        <ion-input #email [(ngModel)] = "userEmail" email placeholder = "Email"
                   clearInput = "true" required type = "email"></ion-input>
        <ion-icon name = "mail" slot = "end"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label position = "floating">Password</ion-label>
        <ion-input #password [(ngModel)] = "userPassword" minlength = "6"
                   placeholder = "Password" required
                   clearInput = "true" type = "password"></ion-input>
        <ion-icon name = "eye-off" slot = "end"></ion-icon>
    </ion-item>
    <p style = "color: #3a7be0">Back to <a
            routerLink = "/login"><b>Login</b></a></p>
    <ion-button (click) = "signUp()" color = "primary" type = "submit">
        Sign -Up
    </ion-button>
</ion-content>
