<ion-header>
    <ion-toolbar>
        <ion-title>Sign Up</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class = "ion-text-center" fullscreen = "true">
    <ion-item>
        <ion-label position = "floating">User Name</ion-label>
        <ion-input #name [(ngModel)] = "userName" placeholder = "User Name"
                   required type = "text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position = "floating">Email</ion-label>
        <ion-input #email [(ngModel)] = "userEmail" email placeholder = "Email"
                   required type = "email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position = "floating">Password</ion-label>
        <ion-input #password [(ngModel)] = "userPassword" minlength = "6"
                   placeholder = "Password" required
                   type = "password"></ion-input>
    </ion-item>

    <ion-button (click) = "signUp()" color = "primary" type = "submit">
        Sign -Up
    </ion-button>
</ion-content>
