<ion-header>
    <ion-toolbar color = "primary">
        <ion-title>Contacts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf = "users.length > 0" [@opacityUp]>
        <ion-searchbar animated></ion-searchbar>
        <ion-list>
            <ion-list-header>Contacts</ion-list-header>
            <ion-item (click) = "presentActionSheet(user)"
                      *ngFor = "let user of users;let i = index;"
                      button lines = "full">
                <ion-avatar slot = "end">
                    <ion-img [src] = "user.proPicUrl"></ion-img>
                </ion-avatar>
                <ion-label>
                    <h2>{{user.userName}}</h2>
                    <h3>{{user.userEmail}}</h3>
                    <p>{{user.phone}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
