<ion-header>
    <ion-toolbar color = "primary">
        <ion-title color = "primary" style = "color: white">Chats</ion-title>
        <ion-buttons slot = "end">
            <ion-button (click) = "presentPopover($event)">
                <ion-icon name = "ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf = "chats.length > 0" [@slideLeft]>
        <ion-list>
            <ion-item-sliding *ngFor = "let chat of chats">
                <ion-item-options side = "start">
                    <ion-item-option (click) = "viewProfile(chat.otherUser)"
                                     color = "primary">
                        View Profile
                    </ion-item-option>
                </ion-item-options>
                <ion-item-options side = "end">
                    <ion-item-option (click) = "delete(chat)"
                                     color = "danger">
                        <ion-icon (click) = "deleteChat(chat.chatId)"
                                  name = "trash-outline">
                            Delete
                        </ion-icon>
                    </ion-item-option>
                </ion-item-options>
                <ion-item (click) = "startChat(chat)" button lines = "full">
                    <ion-avatar slot = "start">
                        <ion-img [src] = "chat.otherAvatar"></ion-img>
                    </ion-avatar>
                    <ion-label>
                        <h2>{{chat.otherUser}}</h2>
                        <h3>{{chat.lastMessage | shorten }}</h3>
                    </ion-label>
                    <ion-avatar slot = "end">
                        <ion-badge *ngIf = "chat.unread > 0"
                                   color = "warning">{{chat.unread}}
                        </ion-badge>
                    </ion-avatar>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
    </div>

    <!--    <div *ngIf = "chats.length === 0" [@opacityUp]>-->
    <!--        <div class = "container" style = "height: 100%; margin-top: auto;-->
    <!--        margin-bottom: auto;">-->
    <!--            <ion-card>-->
    <!--                <ion-card-content color = "primary">-->
    <!--                    Try being a human...<br>-->
    <!--                    <b routerLink = "/dashboard/users">Talk-->
    <!--                                                       to people!</b>-->
    <!--                </ion-card-content>-->
    <!--            </ion-card>-->
    <!--        </div>-->
    <!--    </div>-->

</ion-content>
