<ion-header>
    <ion-toolbar color = "primary">
        <ion-title color = "primary" style = "color: white">Chats</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-fab edge horizontal = "end" slot = "fixed" vertical = "top">
        <ion-fab-button color = "light">
            <ion-icon color = "primary" name = "ellipsis-vertical"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color = "primary" routerLink = "/dashboard/users">
                <ion-icon name = "file-tray-stacked"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color = "primary" routerLink = "/dashboard/profile">
                <ion-icon name = "finger-print"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color = "primary">
                <ion-icon name = "add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <div *ngIf = "chats.length > 0" [@slideLeft]>
        <ion-list>
            <ion-item-sliding *ngFor = "let chat of chats" lines = "full">
                <ion-item (click) = "startChat(chat)">
                    <ion-avatar slot = "start">
                        <img src = "./assets/default-pro-pic.jpg">
                    </ion-avatar>
                    <ion-label>
                        <h2>{{chat.otherUser}}</h2>
                        <h3>{{chat.lastMessage.content | shorten }}</h3>
                        <ion-badge *ngIf = "chat.unread > 0"
                                   color = "warning">{{chat.unread}}</ion-badge>
                    </ion-label>
                </ion-item>
                <ion-item-options side = "end">
                    <ion-item-option (click) = "delete(chat)"
                                     color = "danger">
                        <ion-icon name = "trash-outline">
                            Delete
                        </ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

    <div *ngIf = "chats.length === 0" [@opacityUp]>
        <div class = "container" style = "height: 100%; margin-top: auto;
        margin-bottom: auto;">
            <ion-card>
                <ion-card-content color = "primary">
                    Try being a human...<br>
                    <b routerLink = "/dashboard/users">Talk
                                                       to people!</b>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
