<ion-header>
    <ion-toolbar color = "primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen] = "true" class = "ion-text-center">
    <form #f = "ngForm" (ngSubmit) = "login()">
        <ion-item>
            <ion-label position = "floating">Email</ion-label>
            <ion-input [(ngModel)] = "email" autocomplete = "on"
                       email name = "userEmail" required
                       type = "email"></ion-input>
            <ion-icon name = "mail" slot = "end"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-label position = "floating">Password
            </ion-label>
            <ion-input [(ngModel)] = "password" autocomplete = "on"
                       c minlength = "6" name = "password" required
                       (keypress) = "enter($event)" type = "password">
            </ion-input>
            <ion-icon name = "eye-off" slot = "end"></ion-icon>
        </ion-item>
        <div>
            <p> Don't have an account? Try
                <b routerLink = "/signUp">Sign-up</b>
            </p>
            <ion-button [disabled] = "(us.loadingSubject | async)"
                        color = "success" type = "submit"> Sign in
            </ion-button>
        </div>
    </form>
    <ion-fab *ngIf = "us.loadingSubject |
     async" horizontal = "center" style = "width: 100px; height: 50px;"
             vertical = "center">
        <ion-spinner color = "warning"></ion-spinner>
    </ion-fab>
</ion-content>

