<ion-header>
    <ion-toolbar color = "primary">
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen = "true">
    <div *ngIf = "user" style = "width: 100%; margin-top: 10%;">
        <ion-img [src] = "user.proPicUrl" style = "height: 100px;
            width: 100px; margin: auto"></ion-img>
    </div>

    <ion-list lines = "full">
        <ion-list-header><b>Settings</b></ion-list-header>
        <ion-item (click) = "editProfile()" button>Profile</ion-item>
        <ion-item (click) = "editPrivacy()" button>Privacy Settings</ion-item>
        <ion-item (click) = "editAccount()" button>Account Settings</ion-item>
    </ion-list>

    <ion-fab horizontal = "end" slot = "fixed" vertical = "bottom">
        <ion-fab-button (click) = "logOut()" color = "danger">
            <ion-icon name = "exit"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
